.home {
    display: flex;
    flex-direction: column;
}

.usersCount {
    text-align: center;
    color: var(--font-color-primary);
    margin-bottom: 2rem;
}

.usersResult {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: clamp(40vw, 90vw, 70rem);
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .usersResult {
        display: grid;
        width: clamp(40vw, 90vw, 40rem);
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}

@media (max-width: 768px) {
    .usersResult {
        display: grid;
        width: clamp(40vw, 90vw, 30rem);
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media (max-width: 480px) {
    .usersResult {
        display: grid;
        width: clamp(40vw, 80vw, 20rem);
        grid-template-columns: 1fr;
        gap: 1.3rem;
    }
}
